@import 'theme';

.toolbar {
  display: flex;
  flex-direction: row;
  padding: 8px;

  button, button:focus, button:hover {
    outline: none;
    flex: 1 1 auto;
    font-size: 5vw;
    background-color: transparent;
    border: 1px solid;
    font-weight: 100;
    color: inherit;
    border-color: inherit;
    padding: 8px 0;

    &:not(:last-of-type) {
      border-right: 0px;
    }
  }

  button:active {
    //background-color: $theme-primary;
  }

  button:hover {
    //background-color: $theme-primary;
  }
}
